
span {
    display: flex;
    align-items: center;
    padding: 0 0 0 10;
}

.preFormattedInput {
    display: flex;
    justify-content: center;
}

.suffix {
    font-size: 1.5rem;
    background-color: #444444;
    border-left: 0;
    padding-right: 1rem;
    white-space: nowrap; /* to prevent wrapping when zooming in */
    color: #aaaaaa;
    border-radius: 0 0.2em 0.2em 0;
}

body {
    color: lightgray;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contForTxtInputs {
    display: flex;
    justify-content: space-around;
}

.contForEachSport {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.incorrectInput { 
    /* Important is needed so that it overrides the border 0 in .paceInputs */
    border-left: 0.5em red solid !important;
}

.paceInputs {
    border: 0;
    font-size: 1.5em;
    color: white;
    border-radius: 0.2em 0 0 0.2em;
    text-align: right;
    border-right: 0;
    background-color: #444444;
}

.paceInputs:focus {
    outline: 0;
}

@media screen and (orientation:portrait) {    
    .contForEachSport {
        align-items: center;
    }

    #contForTxtInputs {
        height: 100%;
        flex-direction: column;
    }

    input[type=range][orient=vertical]
    {
        -webkit-appearance: slider-vertical; /* Chromium */
        height: 90vh;
    }
 
    .paceInputs {
        width: 70%;
    }
}

@media screen and (orientation:landscape) {
    .paceInputs {
        max-width: 30vw;
    }

    #contForTxtInputs {
        width: 100%;
    }

    input[type=range] {
        width: 95vw;
    }

    body {
        height: 80%;
        flex-direction: column;
    }
}