body {
    color: lightgray;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contForTxtInputs {
    display: flex;
    justify-content: space-around;
}

.contForEachSport {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.incorrectInput {
    outline: 0.2em solid red;
}

.paceInputs {
    font-size: 1.4em;
    color: white;
    text-align: center;
    border-radius: 10%;
}

input{
    background-color: #444444;
}

@media screen and (orientation:portrait) {    
    .contForEachSport {
        align-items: center;
    }

    #contForTxtInputs {
        height: 100%;
        flex-direction: column;
    }

    input[type=range][orient=vertical]
    {
        -webkit-appearance: slider-vertical; /* Chromium */
        height: 90vh;
    }
 
    .paceInputs {
        width: 70%;
    }
}

@media screen and (orientation:landscape) {
    #contForTxtInputs {
        width: 100%;
    }

    input[type=range] {
        width: 95vw;
    }

    body {
        height: 80%;
        flex-direction: column;
    }
}